<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTEL WEBSITE</title>
    <link rel="stylesheet" href="../css/fpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script type = "text/javascript">
      function moveone()
      {
      document.getElementById("move").innerHTML ="ATRIUM";
      }  
      </script>
  </head>
  <body>
    <div class="hero">
      <video autoplay loop muted plays-inline class="back-video">
        <source src="../image/islands-2119.mp4" type="video/mp4">
    </video>
    <header>
      <a id ="move" onMousemove="moveone()" class="brand">ATH</a>
      <div class="menu">
        <div class="btn">
          <i class="fas fa-times close-btn"></i>
        </div>
        <a href="/popularplaces">POPULAR PLACES</a>
        {{!-- <form action="/room" method="get">ROOM BOOKING</form> --}}
        <a href="/room" method="get">ROOM BOOKING</a>
        <a href="/login">LOGIN</a>
      </div>
      <div class="btn">
        <i class="fas fa-bars menu-btn"></i>
      </div>
    </header>
    <div class="content">
      <h1>THE ATRIUM </h1>
  </div>
 </div>


 <div class="kitchen" id="kitchen">
  <div id="sum1">What would you like us to prepare for you?</div>
  <div id="intro">Our Kitchen</div>
  <div id="sum2">
      Taste the best of Town with the food that awaits you
  </div>

  <div class="container">
    <div class="foodbox row">
      <div class="foodcolumn col-md-6">

          <div><img src="image/food-3.jpg" alt="">
              <div class="fooddesc">
                  Italian Coffee
              </div>
          </div>
          <div><img src="image/food-4.jpg" alt="">
              <div class="fooddesc">Fish curry with Japanese rice
              </div>
          </div>
      </div>
      <div class="foodcolumn col-md-6">
          <div><img src="image/food-5.jpg" alt="">
              <div class="fooddesc">
                  Cheese Salad with Tea
              </div>
          </div>
          <div><img src="image/food-6.jpg" alt="">
              <div class="fooddesc">
                  Bun with coconut pudding
              </div>
          </div>
      </div>
      <div class="foodcolumn col-md-6">
          <div><img src="image/food-7.jpg" alt="">
              <div class="fooddesc">
                  Boiled Egg & Fries
              </div>
          </div>
          <div><img src="image/food-8.jpg" alt="">
              <div class="fooddesc">
                  Rice and fried Eggplant
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<div class="rooms" id="rooms">
  <div id="rsum1">How would you like to stay with us?</div>
  <div id="rintro">Our Rooms</div>
  <div id="rsum2">

      Luxury is not a place, it's an experience.
  </div>
  <div class="roomspic" id="r1"><img src="../image/1.jpg" alt="">
      <div class="rdesc">
          The Oasis Suite<br><br>
          Enjoy our elegant 40 m² guest rooms, designed in warm beige tones and tailored to the needs of private and business travelers alike.
          <div class="btn">
            <a href="/room">
              <button>Book Now</button>
            </a>
          </div>

      </div>
  </div>
  <div class="roomspic" id="r2"><img src="../image/2.jpg" alt="">
      <div class="rdesc" id="rdesc1">
          Bridal suites<br><br>
          This is a one-room suite with queen-size bed and comfortable seating area. It is located downstairs with an outside entrance and is wheelchair assessable. It has a 39-inch flat screen TV and electric fireplace. 
          <div class="btn">
            <a href="/room">
              <button>Book Now</button>
            </a>
          </div>

      </div>
  </div>
  <div id="r3" class="roomspic"><img src="../image/3.jpg" alt="">
      <div class="rdesc">
          Deluxe Suite<br><br>
          Our Deluxe Twin/Large Double also provides views over landscaped gardens. It has a seating area, digital safe and mini fridge. This room can be configured with either 2 single beds 
          <div class="btn">
            <a href="/room">
              <button>Book Now</button>
            </a>
          </div>

      </div>
  </div>
  <div class="roomspic" id="r4"><img src="../image/4.jpg" alt="">
      <div class="rdesc">
          Honeymoon suites<br><br>
          The Standard Room comprises of 1 Double Bed or 2 Twin Beds, 2 Bedside Tables, a Desk & Chair. The room is furnished with wall to wall carpeting, trendy furnishings and a balcony.
          <div class="btn">
            <a href="/room">
              <button>Book Now</button>
            </a>
          </div>

      </div>
  </div>
</div>

<div class="rooms">
  <p>Most Popular Hotel Facilities</p>
  <div class="roomimages">
      <span class="innerimg">
          <img src="../image/pool2.jpg" class="img2">
          <p class="h11">Swimming Pool</p>
          <hi>Happiness is all about making your own waves</hi>
      </span>
      <span class="innerimg">
          <img src="../image/spa.jpg" class="img2">
          <p class="h11">SPA</p>
          <hi>Time spent getting a massage is never wasted</hi>
      </span>
      <span class="innerimg">
          <img src="../image/gym.jpg" class="img2">
          <p class="h11">Fitness Facility</p>
          <hi>The body achieves what the mind believes</hi>
      </span>
    </span>
    
  </div>
</div>
    <section class="section-two">
      <h2>About Us</h2>
      <p>If you're looking for a great place to stay while you are in San Francisco, look no further than San Bruno, CA. Our city is located just a few miles south of the city of San Francisco and adjacent to San Francisco International Airport. Whether you're looking to visit the Golden Gate Bridge, Alcatraz Island, or Fisherman's Wharf, The Atrium Hotel is the perfect place to stay.</p>
      
        <h2>Terms and Condition</h2>
        <p>Agreement Between Customer and INNsight.com, Inc.
          Welcome to the hospitality business website for The Atrium Hotel SFO Powered by INNsight.com (the "Website"). This Website is provided solely to assist customers in gathering travel information, determining the availability of lodging-related goods and services, making legitimate reservations or otherwise transacting business with The Atrium Hotel SFO and for no other purposes.
          
          This Website and its pages, the content and infrastructure of these pages, and the online reservation service provided on these pages and through this Website (the "service") are owned, operated and provided by INNsight.com, Inc. ("INNsight.com", "us", "we" or "our") and licensed to The Atrium Hotel SFO. This Website is provided for your personal, non-commercial use only, subject to the terms and conditions set out below. The term "you" refers to the customer visiting and searching for accommodations or engaging in business activities with The Atrium Hotel SFO via the Website and/or booking a reservation through us on this Website, or through our customer service agents.
          </p>
        </section>
          <section class="section-tw">
          <h2>Contact us</h2>
      <p>The Atrium Hotel SFO,</p>
      <p>611 San Bruno Ave E,</p>
       <p>San Bruno, California 94066, USA</p>
       <p>Tel: (650) 589-5089 ;</p>
        <p>Reservations: (650) 589-5089 ;</p>
        <p>Fax: (650) 589-5089 ;</p>
        <p>Property Email: info@theatriumhotelsfo.com </p>

    </section>

    <script type="text/javascript">
    window.addEventListener("scroll", function(){
      var header = document.querySelector("header");
      header.classList.toggle('sticky', window.scrollY > 0);
    });
    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu-btn');
    var closeBtn = document.querySelector('.close-btn');
    menuBtn.addEventListener("click", () => {
      menu.classList.add('active');
    });
    closeBtn.addEventListener("click", () => {
      menu.classList.remove('active');
    });
    </script>
     
     <div class="footer">
      <a href="https://www.instagram.com/atrium_hotel_oc/?hl=en"><img src="../image/instagram.png"></a>
      <a href="https://twitter.com/atriumhotels?lang=en"><img src="../image/twitter.png"></a>
      <a href="https://www.facebook.com/AtriumHotels/"><img src="../image/facebook.png"></a>
      <a href="https://www.youtube.com/channel/UCXR7MHWlDkkorWBV-3d1Bjg"><img src="../image/youtube.png"></a>
      <a href="https://telegram.com/"><img src="../image/telegram.png"></a>
      <hr>
      <p>Copyright @ 2023, THE ATRIUM HOTEL.</p>
  </div>

  </body>
</html>
      